<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rutgers World Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/components/bootstrap-css/css/bootstrap.css" rel="stylesheet">

    <link href="/theme/ru-style.css" rel="stylesheet">
    <style type="text/css">

	  .pagination-centered{
		text-align: center;
	  }
    </style>
	<script src="/components/jquery/jquery.min.js"></script>
	<script src="/components/bootstrap-css/js/bootstrap.js"></script>
	<script src="/js/jquery.cookie.js"></script>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
  <script type="text/javascript">
  $(".btn-group").click(function() {
  if($(this).attr("class")=="btn-group")
  {
	$(this).attr('class', 'btn-group open');
  }
  else
  {
	$(this).attr('class', 'btn-group');
  }
  });


  </script>


  </head>

	<body>

		<div class="container">

			<!--This is the top bar on the page-->
			<div class="navcontainer">
			    <ul class="navlist">
			        <li class="first"><a href="http://rutgers.edu">Rutgers Home</a></li>
			        <!-- <li class="leaf"><a href="http://nb.rutgers.edu">New Brunswick</a></li> -->
			        <!-- <li class="leaf"><a href="http://www.newark.rutgers.edu">Newark</a></li> -->
			        <!-- <li class="last"><a href="http://www.camden.rutgers.edu">Camden</a></li> -->
			        <li class="last"><a href="http://onlinelearning.rutgers.edu/">Online Learning</a></li>
			    </ul>

			    <div class="logout">
			    	{{#if isAuthenticated}}
						<a href="/logout">Logout</a>
					{{else}}
						<a href="/login">Login</a>
					{{/if}}
			    </div>

			</div>

		</div>
		<div class = "container">
			<div class = "redbackground">
				<div class="jumbotron">
					<div class = "row">
						<h1>Virtual Worlds <small>World Manager</small> </h1>
					</div>
				</div>
			</div>
			<div class="padding">
			<div class = "row">
				<div class = "col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" id="ourNav">

					<a class="btn btn-large btn-danger {{#if home}} active {{/if}}" href="/">Home</a>
					<a class="btn btn-large btn-danger {{#if myworlds}} active {{/if}} {{#if editworld}} active {{/if}}" href="/myworlds">My Worlds</a>
					<a class="btn btn-large btn-danger {{#if allWorlds}} active {{/if}}" href="/all">All Worlds</a>
					<a class="btn btn-large btn-danger {{#if myProfile}} active {{/if}}" href="/myprofile">My Profile</a>
					<a class="btn btn-large btn-danger {{#compare path "createworld"}} active {{/compare}}" href="/createworld">Create World</a>
					<a class="btn btn-large btn-danger {{#compare path "about"}} active {{/compare}}" href="/about">About</a>
					<a class="btn btn-large btn-danger {{#compare path "support"}} active {{/compare}}" href="/support">Support</a>

				</div>
			</div>

			<br>

			<div class = "row">

				<div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 show-grid">
					<ul class="nav nav-pills nav-stacked well" style="max-width: 300px">
						<!--
						<style type="text/css">
							.inactive{
								background-color: #FFFFFF;
								color: #FFFFFF;
								display: block;
								border-color: transparent #ddd #ddd #ddd;
								color: #555555;
								  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
								  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
								  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
							}
						</style>
						-->
						<li>
							<a href="http://onlinelearning.rutgers.edu/virtualworlds">Virtual Worlds</a>
						</li>
						<li>
							<a href="http://onlinelearning.rutgers.edu/about-virtualworlds">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About</a>
						</li>
						<li>
							<a href="http://onlinelearning.rutgers.edu/virtualworlds-support">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support</a>
						</li>
						<li>
							<a href="http://onlinelearning.rutgers.edu/virtual-office">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Virtual Office</a>
						</li>
						<li class="active">
							<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;World Manager</a>
						</li>
					</ul>
					<!--The social network and downloadable clicks-->
					<div style="text-align:center">
						<p><a href="https://www.facebook.com/ruonlinehybrid" class="btn btn-primary">F</a>
						<a href="http://twitter.com/ruonlinehybrid" class="btn btn-info">T</a>
						<a href="http://onlinelearning.rutgers.edu/journal" class="btn btn-warning">B</a></p>
					</div>
					<p><a href="https://itunes.apple.com/us/app/rutgers-online-mobile/id472392676?mt=8" class="btn btn-default">Available on the iPhone App Store</a></p>
					<p><a href="https://play.google.com/store/apps/details?id=com.ecollege.android.rutgers" class="btn btn-success">Available on the Android Market</a></p>
				</div>

				<div class = "col-lg-8 col-md-8 col-sm-8 col-xs-8">
				{{#if isMine}}
					<a class="btn" href="/editpage/{{this.identifier}}">Edit Page</a>
				{{/if}}
				{{#embed path}}{{/embed}}
				</div>
			</div>
		</div>
		</div>
		<hr>

		<footer class="pagination-centered">
			<div class = "container">

				<p>Copyright © 2014 Rutgers, The State University of New Jersey, an equal opportunity, affirmative action institution.</p>
			</div>
		</footer>

	</body>
</html>
