<h4>Note: Unaltered fields will not be changed</h4>
<form action="/edit/{{preview.id}}" method="post" enctype="multipart/form-data">
	<p>Name : <br> <input type=text name=name value="{{preview.name}}"></input></p>
	<p>Info : <br> <input type=textarea name=info value="{{preview.info}}"></input></p>
	<p>Build : <br> <input type=file name=build></input></p>
	<p>Preview : <br> <input type=file name=image>{{preview.image}}</input></p>
	<p><input type="Submit" name="Submit" value="Update"></p>
</form>
